<div class="filter-block accordion-block filter-block_prefix-group" style="">
    <h4 class="filter-block_title accordion-toggle open">Prefix: Status</h4>
    <div class="filter-block_content filter-block_v accordion-content" style="display: block;">
    <div id="btn-prefix_4_22" class="filter-block_button-wrap">
        <span class="filter-block_button">Abandoned</span>
        <div class="btn-state_wrap">
            <input type="radio" data-prefix="22" id="btn-filter-prefix_4_22_on" name="btn-filter-prefix_4_22" value="1">
            <label for="btn-filter-prefix_4_22_on" class="fas fa-check"></label>
            <input type="radio" data-prefix="22" id="btn-filter-prefix_4_22_off" name="btn-filter-prefix_4_22" value="0">
            <label for="btn-filter-prefix_4_22_off" class="fas fa-times"></label>
        </div>
    </div>
    <div id="btn-prefix_4_18" class="filter-block_button-wrap">
        <span class="filter-block_button">Completed</span>
        <div class="btn-state_wrap">
        <input type="radio" data-prefix="18" id="btn-filter-prefix_4_18_on" name="btn-filter-prefix_4_18" value="1">
        <label for="btn-filter-prefix_4_18_on" class="fas fa-check"></label>
        <input type="radio" data-prefix="18" id="btn-filter-prefix_4_18_off" name="btn-filter-prefix_4_18" value="0">
        <label for="btn-filter-prefix_4_18_off" class="fas fa-times"></label>
        </div>
    </div>
    <div id="btn-prefix_4_20" class="filter-block_button-wrap">
        <span class="filter-block_button">Onhold</span>
        <div class="btn-state_wrap">
        <input type="radio" data-prefix="20" id="btn-filter-prefix_4_20_on" name="btn-filter-prefix_4_20" value="1">
        <label for="btn-filter-prefix_4_20_on" class="fas fa-check"></label>
        <input type="radio" data-prefix="20" id="btn-filter-prefix_4_20_off" name="btn-filter-prefix_4_20" value="0">
        <label for="btn-filter-prefix_4_20_off" class="fas fa-times">
            </label>
            </div>
        </div>
        </div>
</div>