<!DOCTYPE html>
@using Practice2Course.Data;
@model Practice2Course.Data.Models.Cities;

<h1>Выберете город</h1>

<div class="col-md-7 col-lg-8">
    <form method="post" asp-action="AddObjectChooseCity" class="form-horizontal">        
        <div class="form-group">
            <label asp-for="CityId">Город:</label>
            <select asp-for="CityId" class="form-select col-6">
                @foreach (var el in HelpElements.CitiesDictionary)
                {
                    <option value="@el.Key">@el.Value</option>
                }
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>

        <input class="my-4 btn btn-success" type="submit" value="Продолжить" />
    </form>
</div>
