<!DOCTYPE html>
@using Practice2Course.Data;
@model Practice2Course.Data.Models.RoadSystem;

<h1>Добавление улицы</h1>

<div class="col-md-7 col-lg-8">
    <form method="post" asp-action="AddRoad" class="form-horizontal">
        <div class="form-group">
            <label asp-for="TypeId"></label>
            <select asp-for="TypeId" class="form-select col-6">
                @foreach (var el in HelpElements.RoadTypesDictionary)
                {
                    <option value="@el.Key">@el.Value</option>
                }
            </select>
            <span asp-validation-for="TypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StreetName"></label>
            <div class="col-12">
                <input asp-for="StreetName" class="form-control">
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImgUrl"></label>
            <div class="col-12">
                <input asp-for="ImgUrl" class="form-control">
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MapUrl"></label>
            <div class="col-12">
                <input asp-for="MapUrl" class="form-control">
                <span asp-validation-for="MapUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <div class="col-12">
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CityId"></label>
            <select asp-for="CityId" class="form-select col-6">
                @foreach (var el in HelpElements.CitiesDictionary)
                {
                    <option value="@el.Key">@el.Value</option>
                }
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>

        <input class="my-4 btn btn-success" type="submit" value="Добавить улицу" />
    </form>
</div>
