<!DOCTYPE html>

<article class="blog-post">
    <h2 class="blog-post-title">О сайте</h2>

    <p>Данный сайт является результатом технологической практики за 2 курс в НИУ ВШЭ Пермь</p>
    <hr class="my-3">
    <p>Автор: Студент 2 курса ОП "Программная инженеря", Макаров Дмитрий</p>
    <p>Контакты: dmvmakarov2000@gmail.com</p>
    <hr class="my-3"/>
</article>








